- Create a list called baby_names with the names 'Ximena', 'Aliza', 'Ayden', and 'Calvin'.
- Use the .extend() method on baby_names to add 'Rowen' and 'Sandeep' and print the list.
- Use the .index() method to find the position of 'Aliza' in the list. Save the result as position.
- Use the .pop() method with position to remove 'Aliza' from the list.
- Print the baby_names list. This has been done for you, so hit 'Submit Answer' to see the results!

In [1]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen' , 'Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

- Create an empty list called baby_names.
- Use a for loop to iterate over each row of records appending the name, found in the fourth element of row, to baby_names.
- Print each name in baby_names in alphabetical order. To do this:
- Use the sorted() function as part of a for loop to iterate over the sorted names, printing each one.

In [4]:
records = [
    ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Malaysia', '14', '37'],
['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Malia', '18', '33'],
['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Maliyah', '20', '31']
]
# Create the empty list: baby_names
baby_names = []

# Loop over records 
for row in records:
    # Add the name to the list
    baby_names.append(row[3])
    
# Sort the names in alphabetical order
for name in sorted(baby_names):
    # Print each name
    print(name)

Malaysia
Malia
Maliyah

Which data type would you use if you wanted your data to be immutable and ordered?
- Tuple

- Use the zip() function to pair up girl_names and boy_names into a variable called pairs.
- Use a for loop to loop through pairs, using enumerate() to keep track of your position. Unpack pairs into the variables idx and pair.
- Inside the for loop:
- Unpack pair into the variables girl_name and boy_name.
- Print the rank, girl name, and boy name, in that order. The rank is contained in idx.

In [5]:
girl_names = ['OLIVIA', 'LONDON', 'MIRIAM', 'SARAH', 'ELLA']
boy_names = ['DAVID', 'JACK', 'ELIJAH', 'MICHAEL', 'CHRISTOPHER']
# Pair up the girl and boy names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

Rank 0: OLIVIA and DAVID
Rank 1: LONDON and JACK
Rank 2: MIRIAM and ELIJAH
Rank 3: SARAH and MICHAEL
Rank 4: ELLA and CHRISTOPHER

- Create a variable named normal and set it equal to 'simple'.
- Create a variable named error and set it equal 'trailing comma',.
- Print the type of the normal and error variables.

In [6]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

- Combine all the names in baby_names_2011 and baby_names_2014 by computing their union. Store the result as all_names.
- Print the number of names that occur in all_names. You can use the len() function to compute the number of names in all_names.
- Find all the names that occur in both baby_names_2011 and baby_names_2014 by computing their intersection. Store the result as overlapping_names.
- Print the number of names that occur in overlapping_names.

In [8]:
baby_names_2011 = set(['Yael', 'Michelle', 'Iris', 'Yerik', 'Sloane'])
baby_names_2014 = set(['Arham', 'Malak', 'Summer', 'Winston', 'Delilah'])

# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

10
0

- Create an empty set called baby_names_2011. You can do this using set().
- Use a for loop to iterate over each row in records:
- If the first column of each row in records is '2011', add its fourth column to baby_names_2011. Remember that Python is 0-indexed!
- Find the difference between baby_names_2011 and baby_names_2014. Store the result as differences.
- Print the differences. This has been done for you, so hit 'Submit Answer' to see the result!

In [9]:
# Create the empty set: baby_names_2011
baby_names_2011 = set()

# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    # Check if the first column is '2011'
    if row[0] == '2011':
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)

set()